/*
 * Color 色彩
 * http://element.eleme.io/#/zh-CN/component/color
 */

// 主色
$light-blue = #58B7FF
$blue = #20A0FF
$dark-blue = #1D8CE0

// 辅助色
$primary = #20A0FF
$success = #13CE66
$warning = #F7BA2A
$danger  = #FF4949

// 中性色
$black = #1F2D3D
$light-black = #324057
$extra-light-black = #475669

$sliver = #8492A6
$light-sliver = #99A9BF
$extra-light-sliver = #C0CCDA

$gray = #D3DCE6
$light-gray = #E5E9F2
$extra-light-gray = #EFF2F7

$dark-white = #F9FAFC
$white = #FFFFFF